:root{
    --primary-color: #FAF9F6;
    --secondary-color: #343434;
  }
  /* ... */
  /* Remove Defaults */
  /* text style */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
  /*list style */
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*responsive image as default */
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* End of Remove Default */
  /* ... */
  /* ... */
  
  